

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
    --main-bg-color:#386495;
}


*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html{
    font-size: 100%;
}

body{
    min-height: 100vh;
    background-color: var(--main-bg-color);
}

nav{
    width: 100vw;
    background-color: var(--main-bg-color);
    height: 8vh;
    box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, 0.25);
}

#logo_nav{
    height: 3rem;
}

p{
    margin: 1rem;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.index{
    height: 100vh;
}

Button{
    margin: 0 auto;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
	background-color:white;
	border:0.1px solid var(--main-bg-color);
	display:inline-block;
	cursor:pointer;
	color: var(--main-bg-color);
	font-size:1.2rem;
	padding: 0.3rem 1.5rem;
	text-decoration:none;
}

Button:hover {
    background-color: var(--main-bg-color);
    color:white;
}

button:focus {
    outline: none;
}

.btn_style{
    margin: 1.2rem;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
	background-color:white;
	border:0.1px solid var(--main-bg-color);
	display:inline-block;
	color: var(--main-bg-color);
	font-size:1.2rem;
	padding: 0.3rem 1.5rem;
	text-decoration:none;
}

input:focus{
    outline: none;
}

a {
    text-decoration: none;
    color: var(--main-bg-color);
}

a:hover{
    color:white;
}


.btn_index{
    margin:5rem;
}

#bvn{
    color:white;
    font-size: 2.5rem;
}

#logo{
    height: 8rem;
}

#check{
    height: 1.4rem;
}

#user{
    height: 4rem;
    fill:var(--main-bg-color);
    margin: 2rem;
}

#line{
    height: 10rem;
    border: 0.5px var(--main-bg-color) solid;
    margin: 2rem;
}

#text{
    color:white;
    font-size: 2.5rem;
}

.container{
    margin: 5rem auto;
    height: 30vh;
    width: 60vw;
    background-color: white;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 48px;
    color:var(--main-bg-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.2rem;
}



@media screen and (min-width: 200px) and (max-width: 1200px) {
    .btn_index{
        margin:1rem;
    }

    .container{
        height: 50vh;
        width: 75vw;
        display: block;
    }

    #line{
        height: 0;
        border-top: 0.1px solid white;
        margin: 1rem;
    }

    #svg_box{
        display: flex;
        justify-content: center;
    }
   
}