

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
    --main-bg-color:#386495;
}


*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html{
    font-size: 100%;
}

body{
    min-height: 100vh;
    background-color: white;
}

nav{
    width: 100vw;
    background-color: var(--main-bg-color);
    height: 8vh;
    box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, 0.25);
}

p{
    margin: 1rem;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#logo{
    height: 3rem;
}

#user{
    height: 4rem;
    fill:white;
    margin: 2rem;
}

#line{
    height: 10rem;
    border: 0.5px white solid;
    margin: 2rem;
}

.container{
    margin: 5rem auto;
    height: 30vh;
    width: 60vw;
    background-color: var(--main-bg-color);
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 48px;
    color:white;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.2rem;
}


@media screen and (min-width: 200px) and (max-width: 1200px) {
    .container{
        height: 50vh;
        width: 75vw;
        display: block;
    }

    #line{
        height: 0;
        border-top: 0.1px solid white;
        margin: 1rem;
    }

    #svg_box{
        display: flex;
        justify-content: center;
    }
   
}

@media screen and (min-width: 1200px) and (max-width: 2000px) {}